{{!--
class
coverSrc
coverAlt
href
title
author
--}}
<a class="{{class}} book" href="{{href}}" target="_blank">
  <img class="book__cover" src="{{coverSrc}}" alt="{{coverAlt}}">
  <div class="book__texts">
    <div class="book__title text-30">{{title}}</div>
    <div class="book__author">{{{author}}}</div>
  </div>
</a>
