  <a href="{{href}}" class="client-card {{class}}">
    <div class="client-card__image" style="background-image: url('{{image}}')"></div>
    <div class="client-card__quote">
      &quot;{{quote}}&quot; 
    </div>
    <div class="client-card__company-name">{{companyName}}</div>
    <div class="client-card__company-type">{{companyType}}</div>
  </a>
