<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>RBK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, minimal-ui, user-scalable=no">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css?v={{version}}">
    <link rel="stylesheet" href="css/button.css?v={{version}}">
    <link rel="stylesheet" href="css/header.css?v={{version}}">
    <link rel="stylesheet" href="css/heading.css?v={{version}}">
    <link rel="stylesheet" href="css/link.css?v={{version}}">
    <link rel="stylesheet" href="css/info-card.css?v={{version}}">
    <link rel="stylesheet" href="css/client-card.css?v={{version}}">
    <link rel="stylesheet" href="css/control.css?v={{version}}">
    <link rel="stylesheet" href="css/main-hero.css?v={{version}}">
    <link rel="stylesheet" href="css/features.css?v={{version}}">
    <link rel="stylesheet" href="css/solutions.css?v={{version}}">
    <link rel="stylesheet" href="css/tariffing.css?v={{version}}">
    <link rel="stylesheet" href="css/testimonials.css?v={{version}}">
    <link rel="stylesheet" href="css/integration.css?v={{version}}">
    <link rel="stylesheet" href="css/footer.css?v={{version}}">
    <link rel="stylesheet" href="css/layout.css?v={{version}}">
    <link rel="stylesheet" href="css/footer-copyright.css?v={{version}}">
    <link rel="stylesheet" href="css/disclaimer.css?v={{version}}">
  </head>
  <body>
    {{> layout}}
    <script>window.app = {}</script>
    <script src="js/main.js?v={{version}}"></script>
    <script src="js/header.js?v={{version}}"></script>
    <script src="js/control.js?v={{version}}"></script>
    <script src="js/testimonials.js?v={{version}}"></script>
    <script src="js/solutions.js?v={{version}}"></script>
  </body>
</html>
